.content {
	padding: 10px 16px 30px 16px;
	background-color: wheat;
}

.content > * {
	width: 100%;
	max-width: 600px;
}

header {
	height: 15vh;
	max-height: 48px;
    min-height: 32px;
	background-image: url(../imgs/logo.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	flex-shrink: 0;
	opacity: .75;
	margin-bottom: 8px;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

header > #action-config {
	width: 32px;
	height: 32px;
	background-image: url(../imgs/gear.png);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.4em;
	flex-shrink: 0;
	margin-top: 8px;
}

footer > #action-cart {
	width: 48px;
	height: 48px;
	background-image: url(../imgs/cart.png);
}

footer > #cart-total-price {
	margin-right: 8px;
}

section {
	flex-grow: 1;
	overflow-y: auto;
}

section > :not(:first-child) {
	display: none;
}

#msg {
	font-size: .8em;
	color: darkred;
}

#products-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
}

#products-list > .category-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: stretch;
	padding: 8px 10px;
}

#products-list > .category-container:not(:last-child) {
	border-bottom: 1px solid darkred;
}

#products-list > .category-container > .category-name {
	display: block;
	font-size: .85em;
	font-weight: bold;
	margin-bottom: .2em;
}

.product-item {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	padding-left: 8px;
}

.products-list :not(:last-child) {
	margin-bottom: 4px;
}

.product-item > .product-info {
	flex-grow: 1;
}

.product-info > .product-name {
	display: block;
	font-size: .85em;
	margin-bottom: .2em;
	text-decoration: underline;
}

.product-info > .product-description {
	display: block;
	font-size: .8em;
}

.product-info > .product-price {
	display: block;
	font-size: .8em;
}
	
	