main {
	visibility: hidden;
	background-color: wheat;
}

article > section:not(:first-of-type) {
	display: none;
}

article > * {
	padding: 8px;
}

header {
	background-image: url(../imgs/logo.png);
	background-position: left center;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: .75;
	justify-content: flex-end;
}

header > #action-config {
	width: 32px;
	height: 32px;
	background-image: url(../imgs/gear.png);
}

footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	font-size: 1.4em;
}

footer > #action-cart {
	width: 48px;
	height: 48px;
	background-image: url(../imgs/cart.png);
}

footer > #cart-total-price {
	margin-right: 8px;
}

#msg {
	font-size: .8em;
	color: darkred;
}

.category-section > .category-name {
	display: block;
	font-size: .85em;
	font-weight: bold;
	border-bottom: 1px solid darkred;
	margin-bottom: .2em;
	
}

.category-section:not(:first-child) {
	margin-top: 1.6em;
}

.products-list > .product-item {
	display: flex;
	flex-direction: row;
	justify-content: stretch;
	align-items: center;
	border-radius: 8px;
	cursor: pointer;
}

.products-list > .product-item:hover {
	background-color: lightyellow;
}

.products-list > .product-item:active {
	background-color: antiquewhite;
}

.products-list > :not(:last-child) {
	margin-bottom: .6em;
}

.product-item > .product-pic {
	width: 48px;
	height: 48px;
	margin-right: 8px;	
}

.product-item > .product-info {
	flex-grow: 1;
}

.product-info > .product-name {
	display: inline;
	font-size: .9em;
	margin-right: 1.4em;
	text-decoration: underline;
}

.product-info > .product-price {
	display: inline;
	font-size: .8em;
	font-weight: bold;
	font-style: italic;
}

.product-info > .product-description {
	display: block;
	font-size: .85em;
	margin-top: .3em;
}



	
	